html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-grey: rgba(119, 119, 119, 1);
  --color-lg-grey: rgba(236, 236, 236, 1);
  --color-coral: rgba(255, 111, 97, 1);
  --color-yellow: rgba(255, 176, 83, 1);
  --color-green: rgba(106, 136, 100, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

header {
  height: 80px;
  width: 100%;
}

nav {
  background-color: var(--color-white);
  padding: 20px;
}

nav a {
  padding: 0;
}

nav button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 36px;
  width: 36px;
}

body .asia {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: var(--color-white);
}

body:has(.asia) {
  overflow: hidden;
}

.toogle-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-nav {
  height: 36px;
  display: flex;
  position: absolute;
  top: 20px;
}

.logo-desktop {
  display: none;
}

.icons {
  display: flex;
}

.icons-desktop {
  display: none;
}

.navigation {
  display: none;
}

.active {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 10vh;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.active a {
  padding: 20px 0;
  color: var(--color-black);
  font-size: 20px;
}

.show-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-menu {
  display: none;
}

.show-x {
  display: flex;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.hide-x {
  display: none;
}

.contact-container {
  display: none;
}

footer {
  display: none;
}

hr {
  display: none;
}

.products-container {
  display: none;
}

.products-heading {
  display: none;
}

.hero-banner-container {
  height: calc(100vh - 80px);
  width: 100%;
  background-color: var(--color-lg-grey);
}

.hero-banner-container button {
  display: none;
}

.hero-banner-container h3 {
  display: none;
}
.hero-banner-container h1 {
  display: none;
}
.hero-banner-image {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 120px;
}

@media only screen and (min-width: 991px) {
  nav {
    display: flex;
    flex-direction: row;
  }

  .navigation {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
  }

  .navigation a {
    padding: 10px 40px 10px 0;
  }

  .logo-desktop {
    height: 35px;
    display: flex;
  }

  .icons-desktop {
    display: flex;
  }

  .toogle-box {
    display: none;
  }

  hr {
    display: flex;
    margin: 30px 0;
  }

  .hero-banner-container {
    padding: 100px 40px;
    margin-top: 5px;
    background-color: #dcdcdc;
    border-radius: 15px;
    position: relative;
    height: 500px;
    line-height: 0.9;
    width: 100%;
  }

  .hero-banner-container button {
    border-radius: 15px;
    padding: 10px 16px;
    background-color: #f02d34;
    color: white;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }

  .hero-banner-container h3 {
    display: block;
    font-size: 4rem;
    margin-top: 4px;
  }
  .hero-banner-container h1 {
    display: block;
    color: white;
    font-size: 10em;
    margin-left: -20px;
    text-transform: uppercase;
  }
  .hero-banner-image {
    position: absolute;
    top: 0;
    right: 20%;
    width: 120px;
  }

  .desc {
    position: absolute;
    right: 10%;
    bottom: 5%;
    width: 300px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    color: #324d67;
  }
  .desc p {
    color: #5f5f5f;
    font-weight: 100;
    text-align: end;
  }
  .desc h5 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    /* color: black; */
    align-self: flex-end;
  }
  .products-heading {
    text-align: center;
    margin: 40px 0px;
    color: #324d67;
  }
  .products-heading h2 {
    font-size: 40px;
    font-weight: 800;
  }
  .products-heading p {
    font-size: 16px;
    font-weight: 200;
  }

  .contact-container {
    display: block;
  }

  footer {
    background-color: var(--color-grey);
    display: flex;
    flex-direction: column;
  }

  .footer-up .facebook,
  .instagram {
    height: 32px;
    width: 32px;
  }

  .footer-down {
    display: flex;
    justify-content: flex-end;
  }

  .footer-down p,
  a {
    padding: 0 15px;
  }

  .logo-footer {
    height: 36px;
    display: flex;
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
  }

  .product-card {
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: #324d67;
  }
  .product-card:hover {
    transform: scale(1.1, 1.1);
  }
  .product-image {
    border-radius: 15px;
    background-color: #ebebeb;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    height: 12rem;
    width: 11rem;
  }

  .product-name {
    font-weight: 500;
  }
  .product-price {
    font-weight: 800;
    margin-top: 6px;
    color: black;
  }
}

@media (min-width: 768px) {
  .hero-banner-image {
    width: 260px;
  }
}

@media (min-width: 1023px) {
  .hero-banner-image {
    width: 380px;
  }
}
